<div class="container">
    <app-cockpit (serverDetail)="onServerAdded($event)" (bluePrintDetail)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <app-server *ngFor ="let ser of serverElements" [elementServer] ="ser"></app-server>
      </div>
    </div>
    <p basicHighlight> New Directive in place</p>
  </div>
  <!-- <p>Read data try</p>
  <app-gamecontrol (alertIncrement)="ListenIncrement($event)"></app-gamecontrol>
  <app-even *ngFor="let i of numbers" [num]="i"></app-even>
  <app-odd *ngFor="let i of numbers" [num]="i"></app-odd> -->